<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input type="text" style="background-color: rgb(4, 2, 20);" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input type="email" style="background-color: rgb(4, 2, 20);" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="field">
                            <input type="text" style="background-color: rgb(4, 2, 20);" placeholder="Subject" required>
                        </div>
                        <div class="field textarea">
                            <textarea cols="30" rows="10" style="background-color: rgb(4, 2, 20);" placeholder="Message.." required></textarea>
                        </div>
                        <div class="button-area">
                            <button type="submit" >Send message</button>
                        </div>
                    </form>
</body>
</html>